<div class="page-portal {{ page.slug }}">
  <section class="page-header">
    <div class="container">
      <h1 class="headline">{{ page.title }}</h1>
      {% if page.subtitle != null and page.subtitle != "" %}
        <h2>{{ page.subtitle }}</h2>
      {% endif %}
      {% if current_user.admin? %}
        <a class="btn-blue edit-button pull-right" href="/admin/pages/{{ page.id }}/edit">
          {{ ".pages.page.edit_this_page" | t }}
        </a>
      {% endif %}
    </div>
  </section>
  <div class="container">
    {{ page.content }}
  </div>
</div>
